<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100dvh;
      "
    >
      <h1 style="font-size: 70px; margin-bottom: 30px">404 Not found</h1>
      <p style="font-size: 45px">
        The web page you're looking for isn't enable or doesn't exists
      </p>
    </div>
  </body>
</html>
